CLIENT_URL=http://localhost:5173
PORT=5000
NODE_ENV=development

# Paystack secret key (for payments)
PAYSTACK_SECRET_KEY=

# Cloudinary keys (for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=